header{
	display: block;
	position: relative;
	padding: 15px;
	background-color: $color_white;
	border-bottom: 1px solid $color_gray_light;
	nav{
		height: 32px;
		width: 100%;
		display: block;
		position: relative;
		clear: both;
	}
	a{
		display: block;
		float: left;
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		text-decoration: none;
		color: $color_gray_darker;
		padding: 6px 12px;
		margin: 0 6px 0 0;
		@include border-radius($radius_regular);
		&:hover{
			color: $color_gray_dark;
			background-color: $color_gray_regular;
		}
		&.active{
			color: $color_white;
			background-color: $color_blue_regular;
		}
	}
}