<div class="chatWrapper">
  <div class="streamline">
    <ul class='messages'>
      <li class='host'>
        <img src="img/a2.jpg" alt="">
        <p class='name'>John Smith</p>
        <p class='streamData'>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
      </li>
      <li class='guest'>
        <img src="img/a2.jpg" alt="">
        <p class='name'>Jessica</p>
        <p class='streamData'>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
      </li>
    </ul>
  </div>
</div>